In [1]:
import pandas as pd
from datetime import datetime

In [13]:
date_att = datetime.today().strftime('%d/%m/%Y')

df = pd.read_csv('./FT.csv')
df_date = df.loc[df['Data'] == '12/01/2022', ['Acao']]
df_date

        Acao
604    ALLD3
4952   BPAN4
6692   CARD3
8533   CLSC3
8633   CLSC4
10071  CSMG3
12376  EMBR3
12377  EMBR3
14086  FESA3
14186  FESA4
15245  GGPS3
17170  ITSA3
17270  ITSA4
19937  MDNE3
20282  MILS3
21260  MULT3
23254  PINE4
23814  POSI3
26001  RRRP3
31966  VIIA3
32066  VITT3