In [15]:
import pandas as pd
from datetime import datetime

In [16]:
date_att = datetime.today().strftime('%d/%m/%Y')

df = pd.read_csv('./FT.csv', sep=';')
df_date = df.loc[df['Data'] == '12/01/2022', ['Acao']]
df_date

        Acao
604    ALLD3
4957   BPAN4
5454   BRIT3
6698   CARD3
7063   CEBR3
7163   CEBR5
7263   CEBR6
8539   CLSC3
8639   CLSC4
10077  CSMG3
11116  DMMO3
12382  EMBR3
12383  EMBR3
14092  FESA3
14192  FESA4
15251  GGPS3
17176  ITSA3
17276  ITSA4
19944  MDNE3
20289  MILS3
21267  MULT3
23261  PINE4
23821  POSI3
26008  RRRP3
31974  VIIA3
32074  VITT3