In [1]:
# Manipulação de dados
import pandas as pd
import numpy as np

# Manipulação de datas
from datetime import datetime, timedelta, date

# Coleta cotações
import yfinance as yf

# Lista com os ativos
import __list_ativos__

In [2]:
# Lista com o nome dos ativos
acao = __list_ativos__.lst_acao2

In [ ]:
'''
# Pegando as datas para os últimos 10 dias úteis
date1, date2 = datetime.today() - timedelta(days=2), datetime.today() - timedelta(days=1)

res = np.busday_count(date1.strftime('%Y-%m-%d'),
                    date2.strftime('%Y-%m-%d'))
i = 1
while res < 11:
    test_date1 = datetime.today() - timedelta(days=i)
    res = np.busday_count(test_date1.strftime('%Y-%m-%d'),
                    date2.strftime('%Y-%m-%d'))
    i = i + 1
    print(test_date1, '-', res)
'''

In [3]:
# Pegando as datas para os últimos 10 dias úteis
date1, date2 = date.today() - timedelta(days=2), date.today() - timedelta(days=0)

res = np.busday_count(date1.strftime('%Y-%m-%d'),
                    date2.strftime('%Y-%m-%d'))
i = 1
while res < 11:
    test_date1 = date.today() - timedelta(days=i)
    res = np.busday_count(test_date1.strftime('%Y-%m-%d'),
                    date2.strftime('%Y-%m-%d'))
    i = i + 1

In [4]:
# Inicio e fim das data de coletas das cotações
start = test_date1 
end = date2

# Coletando as cotações de fechamento
df = pd.DataFrame()
for i in acao:
    df[i] = yf.download(f'{i}.SA', start=test_date1, end=date2, progress=False)['Adj Close']

# Calculando os retonos diários
df = round(df.pct_change() * 100, 2)

# Apagando os valores nulos
df.dropna(inplace=True)

In [5]:
# Reset do index
df.reset_index(inplace=True)

# Coletando os valores da coluna que era index (Data)
lista_date = pd.DataFrame(df['Date'])
lista_date['Date2'] = lista_date['Date'].dt.date
lista_date2 = list(lista_date['Date2'])

In [6]:
# Apagando a coluna 'Date' do DataFrame
df.drop(['Date'], axis=1, inplace=True)

# Fazendo a transposição linhas para colunas | colunas para linhas
df = df.T

# Criando uma nova 'variável' coluna com os retornos acumulados
df['Total_Acumulado'] = df.sum(axis=1)

# Renomeando as colunas
j = 0
for i in df.columns[:10]:
    df.rename(columns={i:f'{lista_date2[j]}'}, inplace=True)
    j = j + 1

# Ordenando pelo maior retorno
df.sort_values(by='Total_Acumulado', ascending=False)

In [8]:
df

,2022-07-19,2022-07-20,2022-07-21,2022-07-22,2022-07-25,2022-07-26,2022-07-27,2022-07-28,2022-07-29,2022-08-01,Total_Acumulado
AALR3,-0.26,-0.26,2.78,0.05,-0.60,0.86,0.15,1.94,0.59,-0.34,4.91
ABCB4,3.47,4.16,0.18,-2.62,2.87,-1.19,1.32,2.79,-0.46,-0.58,9.94

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
lista_date = pd.DataFrame(df['Date'])
lista_date['Date2'] = lista_date['Date'].dt.date
lista_date['Date2'][0]

lista_date2 = list(lista_date['Date2'])

In [ ]:
df.drop(['Date'], axis=1, inplace=True)

df = df.T
df['Total_Acumulado'] = df.sum(axis=1)

df

In [ ]:
j = 0
for i in df.columns[:10]:
    print(i)
    print(lista_date2[0])
    df.rename(columns={i:f'{lista_date2[j]}'}, inplace=True)
    j = j + 1

In [ ]:
df

In [ ]:
example_df.rename(columns={'Marks': 'Roll_no', 
                           'Roll_no': 'Marks'}, inplace=True)