In [1]:
# Manipulação de dados
import pandas as pd
import numpy as np

# Manipulação de datas
from datetime import datetime, timedelta

# Coleta cotações
import yfinance as yf

# Lista com os ativos
import __list_ativos__

In [2]:
# Lista com o nome dos ativos
acao = __list_ativos__.lst_acao2

['AALR3.SA', 'ABCB4.SA']

In [3]:
# Pegando as datas para os ultimos 10 dias uteis
date1, date2 = datetime.today() - timedelta(days=2), datetime.today() - timedelta(days=1)

res = np.busday_count(date1.strftime('%Y-%m-%d'),
                    date2.strftime('%Y-%m-%d'))
i = 1
while res < 11:
    test_date1 = datetime.today() - timedelta(days=i)
    res = np.busday_count(test_date1.strftime('%Y-%m-%d'),
                    date2.strftime('%Y-%m-%d'))
    i = i + 1

In [14]:
# Inicio e fim das data de coletas das cotações
start = test_date1 
end = date2

# Coletando as cotações de fechamento
df = yf.download(acao, start=test_date1, end=date2, progress=False)['Adj Close']

# Calculando os retonos diarios
df = df.pct_change()

df = df.T

df['Total_Acumulado'] = df.sum(axis=1)

df

Date,2022-07-18 00:00:00,2022-07-19 00:00:00,2022-07-20 00:00:00,2022-07-21 00:00:00,2022-07-22 00:00:00,2022-07-25 00:00:00,2022-07-26 00:00:00,2022-07-27 00:00:00,2022-07-28 00:00:00,2022-07-29 00:00:00,Total_Acumulado
AALR3.SA,NaN,-0.002558,-0.002564,0.027763,0.000500,-0.006000,0.008551,0.001496,0.019422,0.005862,0.052474
ABCB4.SA,NaN,0.034727,0.041641,0.001790,-0.026206,0.028746,-0.011891,0.013237,0.027910,-0.004622,0.105332