In [1]:
import pandas as pd

In [6]:
ibov = pd.read_csv('./indices/BVSP.csv', sep=';')
ibov.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Retonos
0,0,2000-01-03,17098.0,17408.0,16719.0,16930.0,16930.0,0,NaN
1,1,2000-01-04,16908.0,16908.0,15851.0,15851.0,15851.0,0,-6.37
2,2,2000-01-05,15871.0,16302.0,15350.0,16245.0,16245.0,0,2.49
3,3,2000-01-06,16237.0,16499.0,15977.0,16107.0,16107.0,0,-0.85
4,4,2000-01-07,16125.0,16449.0,16125.0,16309.0,16309.0,0,1.25

In [9]:
p = ibov['Adj Close'].iloc[-1]
p

112315.0